@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(./fonts/main/Roboto-Medium.ttf) format("tff");
  }

  @font-face {
    font-family: ZenKaku;
    font-weight: 500;
    src: url(./fonts/mono/ZenKakuGothicAntique-Medium.ttf) format("tff");
  }
}

@layer utilities {
  .darken {
    opacity: .5;
  }

  .z--1 {
    z-index: -1;
  }

}

@layer components {
  .triangle {
    clip-path: polygon(25% 0%, 100% 50%, 25% 100%);
  }

  .header-light-card {
    background: ;
  }

  .font-3d {
    font-size: 4em;
    text-shadow: 0px 1px 0 theme('colors.pallet-yellow.800'), 0 2px 0 theme('colors.pallet-yellow.800'), 0 3px 0 theme('colors.pallet-yellow.800'), 0 4px 0 theme('colors.pallet-yellow.800'), 0 5px 0 theme('colors.pallet-yellow.800');
  }

  .box-3d {
    box-shadow: 1px 1px theme('colors.pallet-yellow.800');
  }

  .filter-silhouette {
    filter: grayscale(100%) brightness(0);
  }

  .blury-background {
    background: radial-gradient(90.9% 264.32% at 3.7% 6.67%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    backdrop-filter: blur(12px);
  }
}